* {
  padding: 0;
  margin: 0;
}

img {
  border-radius: 24px;
}

:root {
  font-family: "Open sans", sans-serif; 
  background-color: #F5F4F0;
}

h1 {
  font-size: 36px;
  font-weight: bold;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 28px;
  font-weight: bold;
  margin-top: 20px;
}

p {
  font-size: 16px;
  font-weight: normal;
}

li {
  font-weight: bold; 
}

#title-page p {
  color: #E1624F;
  font-weight: bold;
  margin: auto auto 8px;
}

#title-page h1 {
  margin-bottom: 40px;
}

#description1 p {
  text-align: center;
  font-style: italic;
  font-weight: 600;
}

#container {
  width: 1120px;
  padding: 40px;
  margin: 88px auto;
}

#title-list {
  margin: 64px auto;
}

#title-list p {
  font-weight: 400;
}

#title-list p1 {
  color: #E1624F;
  font-weight: bold;
  line-height: 2px;
}

#title-list h2 {
  line-height: 42px;
}

#content-list p2 {
  color: #0C51A7;
}

#card-travel {
  margin-top: 48px;
}

#description2 {
  text-align: center;
  margin: 40px 0;
}

footer {
  color: #333333;
  text-align: center;
  margin: 0px auto 48px;
}

.divider {
  width: 100%;
  height: 1px;
  margin: 40px 0 65px;
  background-color: #d9d9d9;
}
